/*
Theme Name: Stop
Theme URI: https://codeberg.org/keyeightysix/STOPTheme
Author: keyeightsix
Author URI: https://jmccarthy.dev
Description: STOP Block Theme
Requires at least: 6.1
Tested up to: 6.3
Requires PHP: 5.6
Version: 0.1
Text Domain: stop_theme
*/
.poo {
    color: #weewee;
    background-color: var(-brown);
    box-shadow: white;
}